:host {
  background-color: #fff;
  height: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5px;
}

.format-actions {
  width: 200px;
  margin-right: 400px;
}

.format-action {
  transition: background-color .3s ease-in-out; // to make it nice))
  cursor: pointer;
  &_active {
    background-color: #ffa500;
  }
}

button + button {
  margin-left: 5px;
}
